@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$blue: #55ACEE;
$red:#F28C8C;
$green: #C1E6C1;
$black1: #7F7F7F;
$black2: #565656;

$facebook: #5EA7EB;
$google: #E36043;

$logingradient: linear-gradient( -50deg,#B3FFA0, #D6F5CF);
$signupgradient: linear-gradient( -50deg,#A0E8FF, #CFF5F3);
$backgroundgradient: linear-gradient( 145deg ,#A7E4A6 50%, #6fbe6e);

$roboto-condensed: 'Roboto Condensed', sans-serif;

$cardboxshadow: 0px 0px 10px 1px rgba($color: #353535, $alpha: 0.1);